:host {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  font-size: 14px;
  color: #333;
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.title-container {
  width: 50%;
  margin: auto;
  padding-bottom: 25px;
  padding-top: 25px;
}

.employees {
  font-weight: bold;
  font-size: 25px;
}

.department-dropdown {
  float: right;
}
