<div class="card-grid">
  <div *ngFor="let employee of employeesList$ | async" class="card-container">
    <div class="avatar-container">
      <img class="avatar" [src]="buildPngSrc(employee)" alt="Employee Avatar"  />
    </div>
    <div class="employee-details-container">
      <div class="full-name">{{employee.firstName}} {{employee.lastName}}</div>
      <div class="position">{{employee.position}}</div>
      <div class="tags-margin">
        <span class="department"> {{employee.department}} </span>
        <span *ngIf="employee.married" class="marital-status margin-left"> Married </span>
        <span class="vip-tag margin-left" [ngStyle]="{visibility:hasVipStatus(employee) ? 'visible' : 'hidden'}"> VIP </span>
    </div>
  </div>
  </div>
</div>
