
.card-grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 10px;
  margin: auto;
  width: 50%;
}

.card-container {
  background-color: #fff;
  padding: 2px 16px;
  box-shadow: 0 4px 5px 0 rgba(0, 0, 0, 0.1);
  transition: 0.3s;
  width: 400px;
  height: 150px;
  border-radius: 5px;
  display: grid;
  grid-template-columns: auto auto auto;
  justify-content: start;
  padding-top: 10px;
  margin: 10px 0 20px 0;
}

.employee-details-container {
  grid-column: 2 ;
  grid-row: 1;
  margin-left: 33px;
  margin-top: 13px;
}

.full-name {
  color: #383e4a;
  font-weight: bold;
}

.position {
  color: #bec2ca;
}

.tags-margin {
  margin-top: 10px;
}

.department, .marital-status, .vip-tag  {
  padding: 5px 8px 5px 8px;
  font-weight: bold;
  border-radius: 25px;
  margin-top: 10px;
}

.marital-status, .department {
  background-color: #dbeafe;
  color: #5e79ca;
}

.margin-left {
  margin-left: 5px;
}

.vip-tag {
  color: #d7a985;
  background-color: #fde7de;
}

.avatar-container {
  grid-column: 1 ;
  grid-row: 1;
}

.avatar {
  border-radius: 5px;
  height: 140px;
  width: 140px;
}

.pagination-container {
  width: 50%;
  margin: auto;
  display: flex;
  justify-content: center;
  border-top: solid 1.5px #edeef0;
}

.arrow-right, .arrow-left {
  width: 25px;
  height: 25px;
  filter: invert(78%) sepia(7%) saturate(452%) hue-rotate(178deg) brightness(84%) contrast(83%);
  cursor: pointer;
  margin-bottom: -5px;
  user-select: none;
}

.arrow-left {
  transform: rotate(180deg);

}

pagination-template {
  display: flex;
  align-items: center;
}

pagination-template > div {
  margin: 0 5px;
  padding: 5px 10px;
  cursor: pointer;
}

.current {
  color: #7ca1f2;
  border-top: solid 2px #7ca1f2;
}

